<h1>Courses#index</h1>
<p>Find me in app/views/courses/index.html.erb</p>




<table>
  <tr>
    img
  </tr>
  <tr>
    name
  </tr>
  <tr>
    Description
  </tr>


  <% @courses.each do |course| %>
  <tr>
  <td> <%= image_tag(course["smallIcon"])%></td>
  <td><%= course["name"] %></td>
  <td> <%=course["shortDescription"]%> </td>
</tr>
  <%end %>




  </table>
